body{
    margin:0;
    padding: 0;
}

/* textarea:focus, input:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} */

.title{
    margin: 10px 0px -3px 10px;
}
.side-menu{
    position: absolute;
    border-right:solid;
    border-color: #d9d9d9;
    border-width: .5px;
    width: 200px;
    height: 100%;
}
.note-list{
    margin-left: -40px;
    border-top:solid;
    border-color: #d9d9d9;
    border-width: .5px;
}

.note-list li:hover{
    cursor: pointer;
    background-color: #d9d9d9;
}

.note-li{
    background-color: white;
    padding-top: 5px;
    position:relative;
    border-bottom:solid;
    border-color: #d9d9d9;
    border-width: .5px;
    width: 190px;
    height: 35px;
    padding-top: 10px;
    list-style: none;
    padding-left: 10px;
}

.add-note{
    background-color: white;
    padding-top: 5px;
    position:relative;
    border-bottom:solid;
    border-color: #d9d9d9;
    border-width: .5px;
    width: 190px;
    height: 35px;
    padding-top: 10px;
    list-style: none;
    padding-left: 10px;
}
.side-textearea{
    margin-left: 200px;
    height: 405px;
}

.text-menu-div{
    position: relative;
    height: 50px;
    border-bottom:solid;
    border-width: .5px;
    border-color: #d9d9d9;
}

.input-title{
    margin: 8px 0 0 10px;
    width: 520px;
    height: 30px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 1.4em;
    font-weight: bold;
}
.item-menu{
    margin: -25px 20px 0 200px; 
    float: right;
    align-items: center;
}

.icon-menu{
    width: 22px;
    height: 18px;
}

.icon-menu:hover{
    cursor: pointer;
    opacity: 60%;
}
.input-text {
    height: 100%;
}
.input-text textarea{
    padding: 15px 0 0 10px;
    margin-top: -5px;
    width: 590px;
    height: 100%;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 15px;
    resize: none;
}

.selected-list{
    padding-top: 5px;
    position:relative;
    border-bottom:solid;
    border-color: #d9d9d9;
    border-width: .5px;
    width: 190px;
    height: 35px;
    padding-top: 10px;
    list-style: none;
    padding-left: 10px;
    background-color: #d9d9d9;
}

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */