<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Notes</title>
</head>
<body>
    <div class="container">
        <div class="side-menu">
            <div class="side-notes">
                <h2 class="title">Notes</h2>
                <ul class="note-list">
                    <div class="notes"><li>Add New +</li></div>
                    <div class="notes"><li>Note 1</li></div>
                    <div class="notes"><li>Note 2</li></div>
                    <div class="notes"><li>Note 3</li></div>
                </ul>
            </div>
        </div>
        <div class="side-textearea">
            <div class="text-menu-div">
                <ul class="text-menu">
                    <li class="item-menu"><img class="icon-menu" src="resources/img/trash.png" alt="remove"></li>
                    <li class="item-menu"></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="resources/js/main.js"></script>
</html>